<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
Growing up in Houston where I was steeped in the ethos of NASA and manned space flight, I learned to love making the seemingly impossible work in the real world.

<p> At Forge.AI, I am working to build high performance machine intelligent systems by constructing high performance, self learning, knowledge graphs capable of augmenting both machine perception and machine abstract reasoning. At Gamalon, I leveraged these desires as well as my skills in high performance and distributed computing to help in constructing the third wave of Artificial Intelligence by contributing to an internal probabilistic programming language. During my career, I have pursued a variety of different research projects in math, physics, and chemistry to hone my ability to clearly pursue difficult questions. During these projects, I have developed the ability to create robust, massively parallel high performance numerical software. I look for opportunities to leverage these skills while solving new problems.
</p>
</div>
